## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}">
    % endif
    <meta name="author" content="${post.author()|h}">
    %if post.prev_post:
        <link rel="prev" href="${post.prev_post.permalink()}" title="${post.prev_post.title()|h}" type="text/html">
    %endif
    %if post.next_post:
        <link rel="next" href="${post.next_post.permalink()}" title="${post.next_post.title()|h}" type="text/html">
    %endif
    % if post.is_draft:
        <meta name="robots" content="noindex">
    % endif
    ${helper.open_graph_metadata(post)}
    ${helper.twitter_card_information(post)}
    ${helper.meta_translations(post)}
    ${math.math_styles_ifpost(post)}
    
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/assets/js/bootyper.js"></script>    
</%block>

<%block name="content">
<article class="post-${post.meta('type')} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    ${pheader.html_post_header()}

    % if needs_ipython_css:
    <div>



<script>

//console.log(code_show);
//
//if (typeof code_show == 'undefined') {
//    code_show = true
//  } else {
//    code_show = false
//    }
//
//console.log(code_show);


//function code_toggle() {
//    console.log('code_toggle');
//    console.log(code_show);	
//
// if (!code_show){
// $('div.input').hide();
// $('div.prompt.output_prompt').hide();
// } else {
// $('div.input').show();
// }
// code_show = !code_show
//}

% if code == "False":
     code_show = false;
% else:
     code_show = true;
% endif
console.log(code_show)
$( document ).ready(toggle_setup);


// if the image in the window of browser when the page is loaded, show that image (fade in)
$(document).ready(function(){
        showImages('article img');
});

// if the image in the window of browser when scrolling the page, show that image
$(window).scroll(function() {
        showImages('article img');
});
</script>


</script>
<form id="toggle-button" action="javascript:code_toggle()"><input type="submit" class="btn btn-primary" value="Click here to toggle on/off the raw code."></form>
    </div>
    % endif
    

    <div class="e-content entry-content" itemprop="articleBody text">
    ${post.text()}
    </div>
    <aside class="postpromonav">
    <nav>
    ${helper.html_tags(post)}
    ${helper.html_pager(post)}
    </nav>
    </aside>
    % if not post.meta('nocomments') and site_has_comments:
        <section class="comments hidden-print">
        <h2>${messages("Comments")}</h2>
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path)}
        </section>
    % endif
    ${math.math_scripts_ifpost(post)}
</article>
${comments.comment_link_script()}
</%block>

<%block name="sourcelink">
% if show_sourcelink:
    <li>
    <a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a>
    </li>
% endif
</%block>
